@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Gulzar&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
time {
  font-family: "Gulzar", cursive !important;
  font-size: 12pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gulzar", cursive !important;
}

code {
  font-family: "Courier Prime", "Inconsolata", "Consolas", monospace !important;
  font-size: 11pt !important;
}

/* Custom scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border: 2px solid #10b981;
}

@layer base {
  blockquote {
    @apply rounded-xl p-2 border-l-8 border-black hover:bg-slate-200 transition-all my-3;
  }

  article ul li {
    @apply list-disc ml-10;
  }
}
